@font-face {
    src: url("fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2") format("woff2");
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 95ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
width: 100%;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h h h h"
    "v v v v"
    "a a a a";
}

#history {
grid-area: h;
background-color: rgb(0, 0, 0);
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background-color: rgb(0, 0, 0);
    height:30px;
    color: azure;
}

/* font styling area */
h1{
    font-weight:20; 
    text-align: center;
    font-size: 20px;
    width: 1000px;
    font-variation-settings: "opsz" 0, "wght" 1000;
    transform: translate(260px,0);
}
h2{
    color: rgb(0, 0, 0);
    font-variation-settings: "opsz" 0, "wght" 1000 ;
    font-size: 30px ;
    text-align: center
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 8em;
    width: 1000px;
    animation: weightChange 7s infinite;
    transform: translate(260px,100px);
}
h4{
    color: rgb(255, 255, 255);
    font-variation-settings: "opsz" 0, "wght" 1000 ;
    font-size: 30px ;
    text-align: center;
}
p{
    color:rgb(255, 255, 255);
    text-align: center;
}



@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 6, "wght" 200, "wdth" 75, "YTLC" 440
    }
    50%{font-variation-settings: "opsz" 12, "wght" 1000, "wdth" 125, "YTLC" 540;
    }
}
/* animations for the variations section */
.wonk{
    animation: wonkVariations 5s infinite;
}
@keyframes wonkVariations {
    0%, 100%{
        font-variation-settings: "opsz" 12, "wght" 450, "wdth" 75;
    }
    50%{font-variation-settings: "opsz" 12, "wght" 900, "wdth" 75;
    }
}
/* where the animation is for the width change */
.width{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "opsz" 12, "wght" 200, "wdth" 125;
    }
    50%{font-variation-settings: "opsz" 12, "wght" 200, "wdth" 75;
    }
}
.opsz{
    animation: opszVariations 5s infinite;
}
@keyframes opszVariations {
    0%, 100%{
        font-variation-settings: "opsz" 12, "wght" 900, "wdth" 75;
    }
    50%{font-variation-settings: "opsz" 6, "wght" 900, "wdth" 75;
    }
}
h5{
    font-size:90px;
    color:rgb(81, 0, 255);
    margin:0px;
    background-color: black;
    text-align: center;
}
p2{
    transform: scale(100%);
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

